# Node
node_modules/
dist/
*.log

# Environment
backend/.env.*
!backend/.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Frontend
frontend/public/js/
